# Juliet Messier's PyCity Schools Assignment

In [76]:
# Set Up Pandas
import numpy as np
import pandas as pd

In [77]:
#import the csvs
School_Data = "Resources/schools_complete.csv"
Student_Data = "Resources/students_complete.csv"

In [78]:
#Read the csvs
School_RD = pd.read_csv(School_Data)
Student_RD = pd.read_csv(Student_Data)

In [79]:
#combine the csvs
Combo_Data = pd.merge(Student_RD, School_RD, how="left", on=["school_name", "school_name"])

In [80]:
#Display the new dataframe
Combo_Data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

# Juliet Messier's District Summary

In [81]:
# Find the total number of unique schools
Total_Schools = len(Combo_Data["school_name"].unique())
Total_Schools

15

In [82]:
# Find the total number of students
Total_Students = Combo_Data["Student ID"].count()
Total_Students

39170

In [83]:
# Find the total Budget
Total_Budget = Combo_Data["budget"].sum()
Total_Budget

82932329558

In [84]:
# Find the Average Math Score
Average_Math = Combo_Data["math_score"].mean()
Average_Math

78.98537145774827

In [85]:
# Find the Average Reading Score
Average_Reading = Combo_Data["reading_score"].mean()
Average_Reading

81.87784018381414

In [86]:
# Part 1 of Find the percent passing math TOTAL 
Passing_Math_Total = Combo_Data[(Combo_Data["math_score"] >= 70)].count()["Student ID"]
Passing_Math_Total

29370

In [87]:
# Part 2 of Find the percent passing math PERCENT
Passing_Math_Percent = Passing_Math_Total / float(Total_Students) * 100
Passing_Math_Percent

74.9808526933878

In [88]:
# Part 1 of Find the percent passing Reading TOTAL
Passing_Reading_Total = Combo_Data[(Combo_Data["reading_score"] >= 70)].count()["Student ID"]
Passing_Reading_Total

33610

In [89]:
# Part 2 of Find the Percent passing Reading PERCENT
Passing_Reading_Percent = Passing_Reading_Total / float(Total_Students) * 100
Passing_Reading_Percent

85.80546336482001

In [90]:
# Part 1 of Find the Percent Passing Math and Reading TOTAL
Passing_Math_and_Reading = Combo_Data[(Combo_Data["reading_score"] >= 70) & (Combo_Data["math_score"] >= 70)].count()["Student ID"]
Passing_Math_and_Reading

25528

In [91]:
# Part 2 of Find the Percent Passing Math and Reading PERCENT
Percent_Passing_MR = Passing_Math_and_Reading / float(Total_Students) * 100
Percent_Passing_MR

65.17232575950983

In [92]:
# Create a new data frame called District Summary
District_Summary = pd.DataFrame({"Total Students":[Total_Students],"Total Schools":[Total_Schools],
                                 "Total Budget":[Total_Budget],"Average Math Score": [Average_Math],
                                 "Average Reading Score": [Average_Reading],"Percent Passing Math": [Passing_Math_Percent],
                                "Percent Passing Reading": [Passing_Reading_Percent],
                                 "Percent Passing Math and Reading":[Percent_Passing_MR]})
#Format with Starter Code
District_Summary["Total Students"] = District_Summary["Total Students"].map("{:,}".format)
District_Summary["Total Budget"] = District_Summary["Total Budget"].map("${:,.2f}".format)

#Call the Data Frame
District_Summary

,Total Students,Total Schools,Total Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Math and Reading
0,"39,170",15,"$82,932,329,558.00",78.985371,81.87784,74.980853,85.805463,65.172326

# Juliet Messier's School Summary

In [93]:
# Select all the school types
School_Types = School_RD.set_index(["school_name"])["type"]

In [94]:
#Find the total student count for each school
Per_School_Counts = Combo_Data["school_name"].value_counts()
Per_School_Counts

school_name
Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: count, dtype: int64

In [95]:
# Part 1 of Find the total budget per capita per school BUDGET
Per_School_Budget = Combo_Data.groupby(["school_name"])["budget"].mean()
Per_School_Budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [96]:
# Part 2 of Find the total budget per capita per school CAPITA
Per_School_Capita = Per_School_Budget / Per_School_Counts
Per_School_Capita

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [97]:
# Find the Average Math Score for Schools
Per_School_Math = Combo_Data.groupby(["school_name"])["math_score"].mean()
Per_School_Math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [98]:
#Find the Average Reading Score Per School
Per_School_Reading = Combo_Data.groupby(["school_name"])["reading_score"].mean()
Per_School_Reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [100]:
# Part 1 of Find the students passing math
Students_Passing_Math = Combo_Data[(Combo_Data["math_score"] >= 70)]
Students_Passing_Math

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [102]:
#Part 2 of find the students passing math
School_Students_Passing_Math = Students_Passing_Math.groupby(["school_name"])["student_name"].count()/Per_School_Counts * 100
School_Students_Passing_Math

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [103]:
# Part 1 of find the students passing reading
Students_Passing_Reading = Combo_Data[(Combo_Data["reading_score"] >= 70)]
Students_Passing_Reading

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [105]:
#Part 2 of find the students passing reading
School_Students_Passing_Reading = Students_Passing_Reading.groupby(["school_name"])["student_name"].count()/Per_School_Counts * 100
School_Students_Passing_Reading

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [107]:
# Use starter code for students passing math and reading
Students_Passing_Math_And_Reading = Combo_Data[(Combo_Data["reading_score"] >= 70) & (Combo_Data["math_score"] >= 70)]
School_Students_Passing_Math_And_Reading = Students_Passing_Math_And_Reading.groupby(["school_name"]).size()
School_Students_Passing_Math_And_Reading

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [108]:
#Starter Code Passing Rates
Per_School_Passing_Math = School_Students_Passing_Math / Per_School_Counts * 100
Per_School_Passing_Reading = School_Students_Passing_Reading / Per_School_Counts * 100
Overall_Passing_Rate = School_Students_Passing_Math_And_Reading / Per_School_Counts * 100

In [111]:
# Creat new data frame for School Summary
Per_School_Summary = pd.DataFrame({"School Types": School_Types, "Total Students": Per_School_Counts, 
                                   "Total School Budget": Per_School_Budget,
                                  "Per Student Budget": Per_School_Capita,
                                  "Average Math Score":Per_School_Math,
                                  "Average Reading Score": Per_School_Reading,
                                  "Percent Passing Math": Per_School_Passing_Math,
                                  "Percent Passing Reading": Per_School_Passing_Reading,
                                  "Percent Passing Math and Reading": Overall_Passing_Rate})
#Formatting Starter Code
Per_School_Summary["Total School Budget"] = Per_School_Summary["Total School Budget"].map("${:,.2f}".format)
Per_School_Summary["Per Student Budget"] = Per_School_Summary["Per Student Budget"].map("${:,.2f}".format)

# Show the new DataFrame
Per_School_Summary

,School Types,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Math and Reading
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,1.340033,1.646569,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,5.066387,5.222811,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,2.237656,2.737851,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,2.493961,2.895181,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,6.361878,6.617096,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,1.440193,1.744617,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,21.664135,22.541669,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,2.251763,2.787673,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,1.387472,1.705995,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,9.833118,9.973591,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,1.659580,2.006003,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,5.330331,5.443193,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,5.704720,5.951613,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,4.111595,4.228631,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,5.185185,5.367284,90.333333