# Juliet Messier's PyCity Schools Assignment

In [2]:
# Set Up Pandas
import numpy as np
import pandas as pd

In [3]:
#import the csvs
School_Data = "Resources/schools_complete.csv"
Student_Data = "Resources/students_complete.csv"

In [4]:
#Read the csvs
School_RD = pd.read_csv(School_Data)
Student_RD = pd.read_csv(Student_Data)

In [5]:
#combine the csvs
Combo_Data = pd.merge(Student_RD, School_RD, how="left", on=["school_name", "school_name"])

In [6]:
#Display the new dataframe
Combo_Data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

# Juliet Messier's District Summary

In [8]:
# Find the total number of unique schools
Total_Schools = len(Combo_Data["school_name"].unique())
Total_Schools

15

In [10]:
# Find the total number of students
Total_Students = Combo_Data["Student ID"].count()
Total_Students

39170

In [12]:
# Find the total Budget
Total_Budget = Combo_Data["budget"].sum()
Total_Budget

82932329558

In [14]:
# Find the Average Math Score
Average_Math = Combo_Data["math_score"].mean()
Average_Math

78.98537145774827

In [16]:
# Find the Average Reading Score
Average_Reading = Combo_Data["reading_score"].mean()
Average_Reading

81.87784018381414

In [28]:
# Part 1 of Find the percent passing math TOTAL 
Passing_Math_Total = Combo_Data[(Combo_Data["math_score"] >= 70)].count()["Student ID"]
Passing_Math_Total

29370

In [29]:
# Part 2 of Find the percent passing math PERCENT
Passing_Math_Percent = Passing_Math_Total / float(Total_Students) * 100
Passing_Math_Percent

74.9808526933878

In [30]:
# Part 1 of Find the percent passing Reading TOTAL
Passing_Reading_Total = Combo_Data[(Combo_Data["reading_score"] >= 70)].count()["Student ID"]
Passing_Reading_Total

33610

In [31]:
# Part 2 of Find the Percent passing Reading PERCENT
Passing_Reading_Percent = Passing_Reading_Total / float(Total_Students) * 100
Passing_Reading_Percent

85.80546336482001

In [35]:
# Part 1 of Find the Percent Passing Math and Reading TOTAL
Passing_Math_and_Reading = Combo_Data[(Combo_Data["reading_score"] >= 70) & (Combo_Data["math_score"] >= 70)].count()["Student ID"]
Passing_Math_and_Reading

25528

In [37]:
# Part 2 of Find the Percent Passing Math and Reading PERCENT
Percent_Passing_MR = Passing_Math_and_Reading / float(Total_Students) * 100
Percent_Passing_MR

65.17232575950983

In [41]:
# Create a new data frame called District Summary
District_Summary = pd.DataFrame({"Total Students":[Total_Students],"Total Schools":[Total_Schools],
                                 "Total Budget":[Total_Budget],"Average Math Score": [Average_Math],
                                 "Average Reading Score": [Average_Reading],"Percent Passing Math": [Passing_Math_Percent],
                                "Percent Passing Reading": [Passing_Reading_Percent],
                                 "Percent Passing Math and Reading":[Percent_Passing_MR]})
#Format with Starter Code
District_Summary["Total Students"] = District_Summary["Total Students"].map("{:,}".format)
District_Summary["Total Budget"] = District_Summary["Total Budget"].map("${:,.2f}".format)

#Call the Data Frame
District_Summary

,Total Students,Total Schools,Total Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Math and Reading
0,"39,170",15,"$82,932,329,558.00",78.985371,81.87784,74.980853,85.805463,65.172326